{% extends 'base.html' %}

{% block meta %}
<body>
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
<div class = "login">

    <h1 style="font-family:'Courier New'"><strong><center>👥Formulir Registrasi👥</center></strong></h1>

        <form method="POST" >  
            {% csrf_token %}  
            <table align="center">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar" style="font-family: Georgia, 'Times New Roman', Times, serif; padding: 5px; margin: 10px;" class="btn btn-light"/></td>  
                </tr>  
            </table>  
            <!-- <input type="submit" name="submit" value="Daftar" style="font-family: Georgia, 'Times New Roman', Times, serif; padding: 5px; margin: 10px;"/> -->
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
</body>
<style>
    table {
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 5px;  
    }
    tr, td {
        padding: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    body {
        background-color: #D7E9F7;
        margin: 20px;
    }
    @media screen and (max-width: 700px) {
      .column {
        width: 100%;
      }
    }
</style>

{% endblock content %}