<body>
    <h1><center>Tugas 3 PBP/PBD</center></h1>

    <h5><center>Name: </center></h5>
    <p><center>{{nama}}</center></p>

    <h5><center>Student ID: </center></h5>
    <p><center>2106703084</center></p>

    <a href="html/"><center>
        <p>Show in HTML</p>
    </center></a>
    <a href="xml/"><center>
        <p>Show in XML</p>
    </center></a>
    <a href="json/"><center>
        <p>Show in JSON</p>
    </center></a>

    <p><center><strong>Have watched: </strong>{{watchedTrue}}</center></p>
    <p><center><strong>Have not watched: </strong>{{watchedFalse}}</center></p>

</body>

<style>
    body {
        background-color: #b2cee0;
    }
    a {
        margin-top: 100px;
        margin-bottom: 100px;
        border: 20px;
    }
    p {
        color: #900C3F;
        font-size: 20px;
    }
    h1 {
        margin-top: 40px;
    }
</style>