{% extends 'base.html' %}

 {% block content %}

  <body>
    <h1><center>Lab 1 Assignment PBP/PBD</center></h1>

    <h5><center>Name: </center></h5>
    <p><center>{{nama}}</center></p>

    <h5><center>Student ID: </center></h5>
    <p><center>2106703084</center></p>
  </body>

  <style>
    table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    }
    th, td {
      background-color: #F5C6AA;
    }
    body, table {
      background-color: #b2cee0;
    }
    h5 {
      margin: 0;
      padding: 0;
    }
  </style>

  <table align="center"> 
    <tr>
      <th>Item Name</th>
      <th>Item Price</th>
      <th>Item Stock</th>
      <th>Rating</th>
      <th>Description</th>
      <th>Item URL</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}

    {% for barang in list_barang %}
      <tr>
          <th>{{barang.item_name}}</th>
          <th>{{barang.item_price}}</th>
          <th>{{barang.description}}</th>
          <th>{{barang.item_stock}}</th>
          <th>{{barang.rating}}</th>
          <th>{{barang.item_url}}</th>
      </tr>
    {% endfor %}

  </table>

 {% endblock content %}
